/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 10 version
*/
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
@import 'simplebar.css';
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--slider .hamburger-inner {
  top: 2px;
}

.hamburger--slider .hamburger-inner::before {
  top: 10px;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
}

.hamburger--slider .hamburger-inner::after {
  top: 20px;
}

.hamburger--slider.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner::before {
  -webkit-transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0, -20px, 0) rotate(-90deg);
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

ul, li {
  list-style: none;
}

body {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  min-width: 350px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header {
  position: relative;
  z-index: 100;
}

.header-img {
  background: url(../images/header.JPG) center center/cover no-repeat;
  display: flex;
  min-height: 400px;
  margin-bottom: 100px;
  min-width: 350px;
}

.phone-mail {
  text-align: left;
  padding-top: 20px;
}

.phone-mail a {
  text-decoration: none;
  color: #fff;
  padding-left: 15px;
}

.phone-mail a:hover {
  color: #6b6565;
}

.logo {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.logo a img {
  height: 50px;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #6b6565;
}

.menu li {
  display: inline-block;
  text-align: center;
  padding: 20px;
}

.header__burger {
  display: none;
}

.menu {
  text-align: center;
  padding-top: 30px;
}

@media (max-width: 677px) {
  body.lock {
    overflow: hidden;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    z-index: 2;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before,
.header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    z-index: 2;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background-color: #645555;
  }

  .topmenu > li {
    display: block;
    top: 50px;
  }

  .phone-mail {
    text-align: right;
  }
}
.menu.active {
  left: 0;
  transition: all 0.3s ease 0s;
}

.topmenu > li {
  width: 7%;
  float: center;
  position: relative;
}

.topmenu li a:hover {
  color: #fff;
}

.cart {
  position: relative;
}

.cart__quantity {
  color: #fff;
  font-size: 10px;
  align-items: center;
  justify-content: center;
}

.cart-content {
  cursor: default;
  width: 490px;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.cart.active:hover .cart-content {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.content {
  padding-top: 90px;
}

.cart-content__list {
  max-height: 330px;
}

.cart-product {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  padding-right: 13px;
  transition: background-color 0.3s;
}

.cart-product:hover {
  background: rgba(93, 113, 221, 0.1);
  transition: background-color 0.3s;
}

.cart-product__img {
  margin-right: 20px;
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
}

.cart-product__title {
  max-width: 300px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 18px;
}

.cart-product__price {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.cart-product__delete {
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url("../images/social_media/trash.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  padding: 0;
}

.cart-content__bottom {
  padding: 20px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-content__fullprice {
  font-size: 14px;
  line-height: 20px;
  color: #000;
  display: flex;
  flex-direction: column;
}

.fullprice {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000;
}

.cart-content__btn {
  display: inline-block;
  width: 246px;
  text-align: center;
}

.simplebar-track.simplebar-vertical {
  width: 4px;
  background: rgba(77, 77, 77, 0.1);
  border-radius: 5px;
  right: 5px;
  margin-top: 20px;
  height: calc(100% - 40px);
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  background: rgba(77, 77, 77, 0.2);
  border-radius: 5px;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
}

.submenu {
  background: #6b6565;
  position: absolute;
  top: 100%;
  z-index: 5;
  width: 160px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: 0.5s ease-in-out;
}

.submenu li {
  width: 75%;
  border-bottom: 1px solid #fff;
}

.submenu a {
  color: #a5a0a0;
  text-align: left;
  font-size: 13px;
}

.submenu li:last-child a {
  border-bottom: none;
}

.topmenu > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}

.icon-shopping_bag {
  color: #6b6565;
  font-size: 35px;
}
.icon-shopping_bag:hover {
  color: #a5a0a0;
}

.block-one {
  color: #5e5b5b;
  text-align: center;
  margin-bottom: 100px;
}
.block-one h1 {
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 130px;
  font-weight: 100;
  letter-spacing: 5px;
}
.block-one p {
  line-height: 30px;
}

.text {
  width: 100%;
  height: 250px;
  margin: 0 auto;
}

.bg {
  background-color: #352e2e;
  height: 550px;
}

.content-section {
  display: block;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
}

.pic-1 {
  width: 35%;
  float: left;
}
@media (max-width: 801px) {
  .pic-1 {
    display: none;
  }
}

.pic-2 {
  width: 65%;
  float: right;
  position: relative;
}
@media (max-width: 801px) {
  .pic-2 {
    width: 100%;
  }
}

.pic-1 img {
  width: 90%;
  height: 450px;
}

.pic-2 img {
  width: 100%;
  height: 450px;
  margin-left: -50px;
}
@media (max-width: 801px) {
  .pic-2 img {
    margin-left: 0px;
  }
}

.btn-one {
  position: absolute;
  width: 25%;
  top: 80%;
  left: 70%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(85, 85, 85, 0.705);
  color: white;
  font-size: 16px;
  padding: 15px 24px;
  text-transform: uppercase;
  border: none;
  letter-spacing: 3px;
  cursor: pointer;
}
.btn-one:hover {
  background-color: #352e2e;
}
@media (max-width: 415px) {
  .btn-one {
    width: 30%;
  }
}
@media (max-width: 415px) and (max-width: 365px) {
  .btn-one {
    width: 35%;
  }
}

h2 {
  font-weight: 400;
  text-align: center;
  color: #6b6565;
}

.slider-1 {
  height: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .slider-1 {
    padding: 50px 10px;
  }
}

.slick-slider {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slider {
  position: relative;
  padding: 30px 30px;
}
@media (max-width: 767px) {
  .slider {
    padding: 0px 20px;
  }
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url(../images/left_icon.png) 0 0 100% no-repeat;
  border: none;
  width: 40px;
  height: 80px;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url(../images/right_icon.png) 0 0 100% no-repeat;
  border: none;
  width: 40px;
  height: 80px;
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 8px;
  height: 8px;
  background-color: #6b6565;
  border-radius: 50%;
  border: none;
}

.slider .slick-dots .slick-active button {
  background-color: transparent;
}

.slider__item {
  padding: 0px 15px;
}

.slider__item img {
  max-width: 60%;
}

.bg-3 {
  background-color: #352e2e;
  height: 500px;
  margin-bottom: 100px;
}
@media (max-width: 1025px) {
  .bg-3 {
    height: 400px;
  }
}

.content-block-three {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 40px;
}

.text-block-three {
  width: 50%;
  float: left;
  color: #6b6565;
  font-style: italic;
  padding-top: 150px;
}
@media (max-width: 850px) {
  .text-block-three {
    width: 100%;
    height: 0px;
  }
}
.text-block-three h3 {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 100px;
}
.text-block-three p {
  font-size: 12px;
  text-align: right;
}
@media (max-width: 850px) {
  .text-block-three p {
    margin-right: 100px;
  }
}
@media (max-width: 415px) {
  .text-block-three p {
    margin-top: -30px;
  }
}

.pic-3 {
  width: 30%;
  float: right;
}

.pic-3 img {
  width: 70%;
  height: 80%;
}
@media (max-width: 850px) {
  .pic-3 img {
    display: none;
  }
}

.block-four {
  width: 100%;
  display: flex;
  justify-content: center;
}
.block-four h2 {
  text-align: center;
  padding-bottom: 20px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.card-item {
  display: block;
  width: 30%;
  text-align: center;
  font-family: "Open Sans";
  gap: 30px;
  margin-bottom: 150px;
  text-align: center;
}

.card-item img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-title h3 {
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 1rem;
  color: #000;
  padding-top: 20px;
}

.product-list h3 {
  font-size: 18px;
  font-weight: 400;
  color: #444444;
}

.price {
  font-size: 16px;
  color: #000;
  display: block;
  margin-bottom: 12px;
}

.button {
  font-family: "Helvetica";
  text-decoration: none;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 28px;
}

.card-item:hover .button {
  width: 30%;
  background: #000;
  transition: 0.2s ease-in;
}

/*
 .wishlist {
     background: url(../images/heart-solid.svg);
     display: block;
     justify-content: center;
     width: 15px;
     height: 15px;
     top: 100%;                         
     transform: translate(900%, 100%); 
        &:hover {
         background-color: rgb(107, 101, 101);
         border-radius: 50%;
    }
}
*/
.footer-img {
  background: url(../images/footer.JPG) center center/cover no-repeat;
  display: flex;
  min-height: 400px;
}

.logo-footer {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.logo-footer a img {
  height: 50px;
  display: flex;
  justify-content: center;
}

.footer-information {
  display: block;
  width: 100%;
}

.footer-block-left {
  width: 50%;
  float: left;
  color: #6b6565;
}
.footer-block-left .copyright {
  padding-top: 40px;
  font-size: 12px;
}

.insta-fb, .phone, .adress {
  padding-bottom: 10px;
}

.insta-fb img:hover {
  background-color: #6b6565;
  border-radius: 20px;
}

svg:hover {
  background-color: #f0e9e9;
  border-radius: 20px;
}

.phone a, .adress a {
  color: #fff;
}
.phone a:hover, .adress a:hover {
  color: #6b6565;
}

.phone a:hover img, .adress a:hover img {
  background-color: #6b6565;
  border-radius: 10px;
}

.footer-block-right {
  width: 50%;
  float: right;
  text-align: right;
}
.footer-block-right .payment, .footer-block-right .shipping, .footer-block-right .exchange-and-return, .footer-block-right .conditions, .footer-block-right .privacy {
  padding: 10px;
}

.footer-right a:hover {
  color: #6b6565;
}

.payment a, .shipping a, .privacy a {
  color: #fff;
}
.payment a:hover, .shipping a:hover, .privacy a:hover {
  color: #6b6565;
}

.mastercard-visa img {
  width: 155px;
  height: 23px;
  margin: 30px 10px 0;
}

#upbutton {
  background: e903;
  height: 10px;
  width: 30px;
  bottom: 40px;
  right: 30px;
  cursor: pointer;
  display: none;
  position: fixed;
  z-index: 999;
}

/* SHOP*/
.menu-catigoties h3 {
  padding-bottom: 30px;
}
.menu-catigoties li {
  margin-bottom: 10px;
}

.wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

aside {
  flex: 0 0 calc( 20% - 30px );
  width: 100%;
}

.sidebar {
  min-height: 90vh;
}

#catalog {
  border-left: 1px solid #7a757567;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.cell {
  padding: 15px 0 95px 30px;
  flex: 0 0 calc( 25% - 30px );
  min-width: 300px;
  display: flex;
  flex-direction: row;
}

.cell_inside img {
  width: 300px;
  min-height: 400px;
}

aside + .catalog .cell {
  flex: 0 0 calc( 33% - 30px );
}

.button-cell {
  border: none;
  display: inline-block;
  background-color: #fff;
  color: #fff;
  text-transform: uppercase;
  font-size: 12dpx;
  line-height: 28px;
  transition: 0.3s ease-in;
}

.cell_inside:hover .button-cell {
  background: #000;
}

.cell_inside h3 {
  font-size: 18px;
  font-weight: 400;
  color: #444444;
}

.price {
  font-size: 16px;
  color: #000;
  display: block;
  margin-bottom: 12px;
}

.product-list {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  font-family: "Open Sans";
  transition: 0.3s ease-in;
}
.product-list h3 {
  padding: 20px 30px;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.product-img {
  width: 50%;
  height: 900px;
}

.product-img img {
  width: 100%;
}

.description {
  width: 50%;
  text-align: center;
}
.description h3 {
  text-align: center;
  padding-bottom: 70px;
}
.description li {
  text-align: center;
  padding-bottom: 30px;
}

.product-option {
  position: absolute;
  display: inline-block;
  right: 15%;
  padding-top: 40px;
}

.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}

.custom-select-wrapper select {
  display: none;
}

.custom-select {
  position: relative;
  display: inline-block;
}

.custom-select-trigger {
  position: relative;
  display: block;
  width: 160px;
  padding: 0 35px 0 30px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  line-height: 30px;
  background: #000;
  cursor: pointer;
}

.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  top: 50%;
  right: 25px;
  margin-top: -3px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg) translateY(-50%);
  transition: all 0.4s ease-in-out;
  transform-origin: 50% 0;
}

.custom-select.opened .custom-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}

.custom-options {
  position: absolute;
  display: block;
  min-width: 100%;
  margin: 15px 0;
  border: 1px solid #b5b5b5;
  box-sizing: border-box;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07);
  background: #fff;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
}

.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}

.custom-options:before {
  position: absolute;
  display: block;
  content: "";
  bottom: 100%;
  right: 25px;
  width: 7px;
  height: 7px;
  margin-bottom: -4px;
  border-top: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
  background: #fff;
  transform: rotate(45deg);
  transition: all 0.4s ease-in-out;
}

.option-hover:before {
  background: #f9f9f9;
}

.custom-option {
  position: relative;
  display: block;
  padding: 0 22px;
  border-bottom: 1px solid #b5b5b5;
  font-size: 16px;
  font-weight: 400;
  color: #b5b5b5;
  line-height: 40px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.custom-option:first-of-type {
  border-radius: 4px 4px 0 0;
}

.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}

.custom-option:hover,
.custom-option.selection {
  background: #f9f9f9;
}

.about p {
  line-height: 30px;
  padding-bottom: 30px;
  color: #6b6565;
}

blockquote {
  padding: 50px 0 50px;
  text-align: end;
  color: #6b6565;
  font-style: italic;
}

.slider-about {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slider-about__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.slider-about__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
  animation: check 0.4s linear forwards;
}

.slider-about__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}

.slider-about__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}

.slider-about__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}

.slider-about__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}

.slider-about__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.contacts {
  background-color: rgba(230, 225, 225, 0.616);
}

.wrapper-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
@media (max-width: 667px) {
  .wrapper-cont {
    flex-wrap: wrap;
  }
}

.section-1, .section-2 {
  background-color: #fff;
  height: 350px;
  padding: 80px 50px 80px 50px;
  line-height: 50px;
  display: flex;
  justify-content: center;
}

.section-1 {
  width: 40%;
}
@media (max-width: 950px) {
  .section-1 {
    width: 30%;
  }
}
@media (max-width: 667px) {
  .section-1 {
    width: 100%;
    margin-bottom: 10px;
  }
}

.section-2 {
  width: 40%;
}
@media (max-width: 950px) {
  .section-2 {
    width: 30%;
  }
}
@media (max-width: 667px) {
  .section-2 {
    width: 100%;
  }
}

.pic-0, .pic-00 {
  width: 60%;
  text-align: center;
}

.list p, h2, h3, h4 {
  text-align: center;
  line-height: 30px;
  color: #6b6565;
}

#sort-asc, #sort-desc {
  width: 160px;
  height: 30px;
  margin-bottom: 5px;
  background-color: rgba(230, 225, 225, 0.616);
  border: none;
  color: #6b6565;
}

.shopcart {
  width: 100%;
}

.items {
  font-family: "Merriweather", serif;
  background: #f2ede7;
  border-radius: 8px;
  width: 120px;
  display: flex;
  font-size: 18px;
  height: 30px;
  overflow: hidden;
}

.items__control {
  width: 40px;
  cursor: pointer;
  transition: 0.2s ease-in;
  text-align: center;
}

.items__control:hover {
  background: #eb5a1e;
  color: #FFF;
}

.items__current {
  width: 40px;
}

.btn {
  background-color: rgba(224, 221, 221, 0.705);
  color: white;
  font-size: 16px;
  padding: 5px 15px;
  text-transform: uppercase;
  border: none;
  letter-spacing: 3px;
  margin: 20px 0px;
  cursor: pointer;
}
.btn:hover {
  background-color: #352e2e;
}

.form-control {
  width: 160px;
  height: 30px;
  margin-bottom: 5px;
  background-color: rgba(230, 225, 225, 0.616);
  border: none;
  color: #6b6565;
}

.slider-1 {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .slider-1 {
    padding: 30px 10px;
  }
}

.slick-slider {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slider {
  position: relative;
}
@media (max-width: 767px) {
  .slider {
    padding: 0px 20px;
  }
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url(../images/left_icon.png) 0 0 100% no-repeat;
  border: none;
  width: 40px;
  height: 80px;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url(../images/right_icon.png) 0 0 100% no-repeat;
  border: none;
  width: 40px;
  height: 80px;
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.6;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 8px;
  height: 8px;
  background-color: #6b6565;
  border-radius: 50%;
  border: none;
}

.slider .slick-dots .slick-active button {
  background-color: transparent;
}

.slider__item-2 {
  padding: 0px 10px;
}

.slider__item-2 img {
  max-width: 100%;
}